{% extends 'base/base.html' %}
{% block title %}
  {{ title }}
{% endblock %}
{% block content %}
  <div class="error-page">
    {% load static %}
    <img class="error-page__logo" src={% static "img/logo.png" %} alt="Логотип">
    <div class="error-page__info-wrapper">
      <h1 class="error-page__heading">{% block error_heading %}{% endblock %}</h1>
      <p class="error-page__paragraph">{% block error_paragraph %}{% endblock %}</p>
      <a class="error-page__link" href="/">Вернуться на главную</a>
    </div>
  </div>
{% endblock %}
