{% load static %}
<td class="border rounded-md">
  <div class="cell-table">
    <a href="{% url 'main:player_id_edit' pk=table_string.id %}">
      <button class="btns-edit-del" type="submit" {% if 'main.change_player' in perms %} activate {% else %} disabled {% endif %}>
        {% include 'base/edit_icon.html' %}
      </button>
    </a>
    {% if user.is_staff %}
      <form action="{% url 'main:player_id_delete' pk=table_string.id %}" method="post" >
        {% csrf_token %}
          <button class="btns-edit-del" type="submit" {% if 'main.delete_player' in perms %} activate {% else %} disabled {% endif %} onclick="return confirm('Вы точно хотите удалить пользователя {{ table_string.name }}?');"></a>
            {% include 'base/delete_icon.html' %}
          </button>
      </form>
    {% endif %}
  </div>
</td>
