{% extends 'base/base.html' %}
{% block title %}
  Профиль команды
{% endblock %}
{% block content %}
  {% for staff in staff_table %}
      <div class="container">
        <h3 class="text-start mb-4">{{ staff.staff_position }}</h3>
        {% include 'main/teams_id/table.html' with table_head=staff.staff_table_head table_data=staff.staff_table_data %}
      </div>
  {% endfor %}
  <div class="container">
    <h3 class="text-start mb-4">Игроки</h3>
    {% include 'main/teams_id/table.html' with table_head=table_head table_data=table_data %}
  </div>
{% endblock content %}
