{% extends 'base/base.html' %}
{% block title %}
  Профиль команды: {{ team }}
{% endblock %}
{% block content %}
  <h2 class="text-center mb-4">Команда: {{ team }}</h2>
{% for staff in staff_table %}
      <div class="container">
        <h3 class="text-start mb-4">{{ staff.position }}</h3>
        {% include 'main/teams_id/table.html' with table_head=staff.head table_data=staff.data %}
      </div>
  {% endfor %}
  <div class="container">
    <h3 class="text-start mb-4">{{ players_table.name }}</h3>
    {% include 'main/teams_id/table.html' with table_head=players_table.head table_data=players_table.data %}
  </div>
{% endblock content %}
