{% extends "base/base.html" %}
{% load static %}
{% load user_filters %}
{% block title %}
  {% if is_creation %}
    Создание пользователя
  {% else %}
    Редактирование пользователя {{ object.first_name }} {{ object.last_name }}
  {% endif %}
{% endblock %}
{% block content %}
<div class="card update_card">
  <h4 class="card-header">
    Редактирование пользователя {{ object.first_name }} {{ object.last_name }}
  </h4>
  <div class="card-body">
    <form method="post"
    {% if action_url %}
      action="{% url action_url %}"
      enctype="multipart/form-data"
    {% endif %}>
      {% csrf_token %}
      {% for field in form %}
      <div class="row my-3">
        <label for="{{ field.id_for_label }}">
          {{ field.label }}
            {% if field.field.required %}
              <span class="required text-danger">*</span>
            {% endif %}
        </label>
        {{ field |addclass:'form-control' }}
      {% if field.errors %}
      <small class="error">{{ field.errors|striptags  }}</small>
    {% endif %}
      </div>
      {% endfor %}
      <button type="submit" class="update_btn">
        Сохранить
      </button>
    </form>
  </div>
</div>
{% endblock %}
{% block JavaScript %}
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function () {
      var roleSelect = document.getElementById("id_role");
      var teamSelectContainer = document.getElementById("id_team");
      var teamContainer = document.querySelector("label[for='id_team']");

      function toggleTeamSelect() {
          var role = roleSelect.value;
          if(role === "Модератор" || role === "Администратор") {
              teamSelectContainer.style.display = "none";
              teamSelectContainer.value = "";
              teamContainer.style.display = "none";
          } else {
              teamSelectContainer.style.display = "block";
              teamContainer.style.display = "block";
              teamSelectContainer = teamSelectContainerIndex;
          }
      }
      roleSelect.addEventListener("change", toggleTeamSelect);
      toggleTeamSelect();
  });
  </script>
{% endblock%}
