{% extends "base/base.html" %}

{% block content %}
  <h1>{{ object.title }}</h1>
  <p>Дата начала: {{ object.date_start }}</p>
  <p>Дата окончания: {{ object.date_end }}</p>
  <p>Город: {{ object.city }}</p>
  <p>Место проведения: {{ object.location }}</p>

  <h2>Команды, участвующие в событии:</h2>
  <table class="table-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Город</th>
        <th>Дисциплина</th>
        <th>Состав</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      {% for team in table_data %}
        <tr>
          <td>{{ team.id }}</td>
          <td>{{ team.name }}</td>
          <td>{{ team.city }}</td>
          <td>{{ team.discipline_name }}</td>
          <td><a href="{{ team.ref.url }}" class="btn btn-secondary text-white"
            style="background-color: #64C2D1; border: 1px solid #fff;"
            role="button">Игроки</a>
          </td>
          <td>
            <button class="btns-edit-del" type="submit" {% if perms.users.delete_user %} activate {% else %} disabled {% endif %} onclick="return confirm('Вы точно хотите удалить команду {{ table_string.name }}?');"></a>
              {% include 'base/delete_icon.html' %}
            </button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
