{% load static %}
<div class="container text-center p-4">
    <div class="row row-cols-3 row-gap-2 column-gap-0 h-25" style="width: 50%">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                За время
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container text-center p-4">
    <div class="row row-cols-3 row-gap-2 column-gap-0 h-25" style="width: 50%">
        {% for metric in dashboard.primary %}
            <div class="col border rounded-2 bg-primary text-white">
                <p class="fs-1 fw-bold">
                   {{ metric.1 }}
                </p>
                <p class="lh-1 font-monospace">
                    {{ metric.0|title }}
                </p>
            </div>
        {% endfor %}
    </div>
    <div class="row row-cols-4 row-gap-2 column-gap-0" style="width: 60%">
        {% for metric in dashboard.secondary %}
            <div class="col border rounded-2 bg-secondary text-white">
                <p class="fs-3 fw-bold">
                   {{ metric.1|title }}
                </p>
                <p class="lh-1 font-monospace">
                    {{ metric.0 }}
                </p>
            </div>
        {% endfor %}
    </div>
    <div class="row row-cols-15 row-gap-2 column-gap-0" style="width: 100%">
        {% for metric in dashboard.diagnosis %}
            <div class="col border rounded-2 bg-secondary text-white">
                <p class="fs-6 fw-bold">
                   {{ metric.1|title }}
                </p>
                <p class="lh-1 font-monospace">
                    {{ metric.0|truncatechars:10 }}
                </p>
            </div>
        {% endfor %}
    </div>
</div>
