{% extends "base/base.html" %}
{% load user_filters %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block content %}
    <h1>Детали игры</h1>

    <div style="margin-bottom: 20px;">
        <h4 style="margin: 0;">Название: {{ object.name }}</h4>
        <h7 style="margin: 0;">Дата: {{ object.date }}</h7>
    </div>

    <p>Ссылка на видео: <a href="{{ object.video_link }}">{{ object.video_link }}</a></p>
    <p>Ссылка на соревнование: <a href="{% url 'competitions:competition_id' object.competition_id %}">{{ object.competition }}</a></p>

    <div style="display: flex; justify-content: space-between; padding: 20px;">
        <div style="width: 48%; margin-right: 2%;">
            {% if teams|length > 0 %}
                <h3>{{ teams.0.name }}</h3>
                <table class="table-table" border="1" cellpadding="5" cellspacing="0" style="width: 100%; margin: 0 5px;">
                    <thead>
                        <tr>
                            <th>Имя игрока</th>
                            <th>Номер игрока</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for player in teams.0.players %}
                            <tr>
                                <td>{{ player.last_name }} {{ player.name }}</td>
                                <td>{{ player.number }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="2">В этой команде нет игроков.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>К сожалению, информация о первой команде недоступна.</p>
            {% endif %}
        </div>

        <div style="width: 48%; margin-left: 2%;">
            {% if teams|length > 1 %}
                <h3>{{ teams.1.name }}</h3>
                <table class="table-table" border="1" cellpadding="5" cellspacing="0" style="width: 100%; margin: 0 5px;">
                    <thead>
                        <tr>
                            <th>Имя игрока</th>
                            <th>Номер игрока</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for player in teams.1.players %}
                            <tr>
                                <td>{{ player.last_name }} {{ player.name }}</td>
                                <td>{{ player.number }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="2">В этой команде нет игроков.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>К сожалению, информация о второй команде недоступна.</p>
            {% endif %}
        </div>
    </div>

    <div style="text-align: center; margin-top: 20px;">
        <form id="video-recognition-form" action="{% url 'video_recognition' object.pk %}" method="post">
            {% csrf_token %}
            <button type="button" id="submit-button" style="padding: 15px 30px; font-size: 1.2em; background-color: #4CAF50; color: white; border: none; border-radius: 5px; cursor: pointer;">
                Отправить видео на распознание
            </button>
        </form>
        <div id="loading-animation" style="display: none; margin-top: 20px;">
            <div class="spinner"></div>
            <p>Обработка видео...</p>
        </div>
    </div>

    <style>
        .spinner {
            border: 4px solid rgba(0, 0, 0, 0.1);
            width: 36px;
            height: 36px;
            border-radius: 50%;
            border-left-color: #4CAF50;
            animation: spin 1s ease infinite;
            margin: auto;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>

    <script>
        document.getElementById('submit-button').addEventListener('click', function() {
            var form = document.getElementById('video-recognition-form');
            var loadingAnimation = document.getElementById('loading-animation');
            var formData = new FormData(form);

            // Показываем анимацию
            form.style.display = 'none';
            loadingAnimation.style.display = 'block';

            fetch(form.action, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': form.querySelector('[name=csrfmiddlewaretoken]').value
                }
            }).then(response => {
                if (response.ok) {
                    // Обработка успешного ответа
                    return response.json();
                } else {
                    throw new Error('Network response was not ok.');
                }
            }).then(data => {
                console.log('Success:', data);
                // Здесь можно обработать данные ответа
            }).catch(error => {
                console.error('Error:', error);
                // В случае ошибки можно вернуть форму и скрыть анимацию
                form.style.display = 'block';
                loadingAnimation.style.display = 'none';
            });
        });
    </script>
{% endblock content %}
