{% load static %}
<div class="table-responsive">
  <table class="table-table">
    <thead>
      <tr>
        {% for head_item in table_head.values %}
        <th class="col">{{ head_item }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for table_string in table_data %}
      <tr>
        {% for cell_name, cell_value in table_string.items %}
          {% if forloop.counter0 == 0 and 'url' in table_string %}
            <td class="border rounded-md table-light">
              <a href="{{ table_string.url }}">{{ cell_value }} </a>
            </td>
          {% elif cell_name == '_ref_' %}
            {% if cell_value.type == 'button' %}
              <td class="border rounded-md table-light">
                {% include 'main/players/cell_button.html' with url=cell_value.url name=cell_value.name %}
              </td>
            {% else %}
              <td class="border rounded-md table-light">
                <a href="{{ cell_value.url }}">{{ cell_value.name }} </a>
              </td>
            {% endif %}
          {% elif cell_name != 'url' and cell_name != 'id' and cell_name != 'pk'%}
            <td class="border rounded-md table-light">{{ cell_value }}</td>
          {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
