{% extends 'base.html' %}
{% block title %} Вы вышли из системы {% endblock %}
{% block content %}
{% include 'users/includes/open_divs.html' %}
  <div class="card-header">
    Выход
  </div>
  <div class="card-body">
    <p>
      Вы вышли из своей учётной записи. Ждём вас снова!
    </p>
  </div>
  <div class="card-footer">
    <div class="border border-white rounded px-2">
      <a href="{% url 'main:main' %}">
        <b class="text-xl" style="color: #340061;">На главную</b>
      </a>
    </div>
  </div>
{% include 'users/includes/close_divs.html' %}
{% endblock %} 