{% load static %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class='header-line'>
        <div class='header-logo'>
          <img src={% static "img/logo.png" %}>
        </div>
        <div class='header-ellipse'>
          <img src={% static "img/ellipse.png" %}>
        </div>
        <div class='header-rect'>
          <img src={% static "img/rect.png" %} width="990px" height="345px">
        </div>
        <div>
          <p class='header-text fw-weight-bold'>Мир хоккея <br>для особенных детей</p>
        </div>
      </div>
  </div>
</div>