{% extends 'base.html' %}
{% load static %}
{% block title %}
  Профиль игрока
{% endblock %}
{% block content %}
  <h2 class="text-center mb-4">Профиль игрока</h2>
  <div class="container text-start">
    <table class="table">
      <tbody>
        {% for field_name, field_value in player_fields %}
          <tr>
            <th scope="row">{{ field_name }}:</th>
            <td>{{ field_value }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


  <div class="container">
    <div class="row">
      <div class="col text-white flex justify-start">
        <a href="{% url 'main:player_id' id=player.id %}/edit/" class="btn btn-secondary text-white">Редактировать</a>
        <a href="{% url 'main:player_id' id=player.id %}/delete/" class="btn btn-danger">Удалить</a>
      </div>
    </div>
  </div>
{% endblock content %}