{% extends 'base.html' %}
{% block title %}
  Список команд
{% endblock %}
{% block content %}
  <div class="container">
    <style>
      table { border-collapse: collapse; }
      table th, table td { padding: 5px; border: solid 1px #777; }
      table th { background-color: lightblue; }
    </style>
    <table style="width: 100%">
      <tr>
        {% block header %}
          <th>Наименование</th>
          <th>Город</th>
          <th>Сотрудник команды</th>
          <th>Дисциплина команды</th>
        {% endblock %}
        {% for team in teams %}
          <tr>
            <td>{{ team.name }}</td>
            <td>{{ team.city }}</td>
            <td>{{ team.staff_team_member }}</td>
            <td>{{ team.discipline_name }}</td>
          </tr>
        {% endfor %}
    </table>
  </div>
{% endblock %}
