{% extends 'base/base.html' %}
{% load user_filters %}
{% block title %}
    Редактирование данных команды
{% endblock %}
{% block content %}
<div class="card update_card">
  <h4 class="card-header">
    Редактирование данных команды </br> {{ object.name }}
  </h4>
  <div class="card-body">
    <form method="post"
    {% if action_url %}
      action="{% url action_url %}"
      enctype="multipart/form-data"
    {% endif %}>
      {% csrf_token %}

      {% if form.non_field_errors %}
        <div class="alert alert-danger">
          {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}

      {% for field in form %}
      <div class="row my-3">
        <label for="{{ field.id_for_label }}">
          {{ field.label }}
            {% if field.field.required %}
              <span class="required text-danger">*</span>
            {% endif %}
        </label>
        {{ field |addclass:'form-control' }}
        {% include 'main/teams/team_form_city_field_datalist.html' %}
      {% if field.errors %}
      <small class="error">{{ field.errors|striptags  }}</small>
    {% endif %}
      </div>
      {% endfor %}
      <button type="submit" class="update_btn">
        Сохранить
      </button>
    </form>
  </div>
</div>
{% endblock %}
