<!DOCTYPE html>
<html lang="ru">
{% load static %}
  <head>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>
      {% block title %} 
      Тут будет заголовок
      {% endblock %}
    </title>
  </head>
  <body>
    <header>
      {% include 'includes/header.html' %}
    </header>
    <main>
    {% block content %}
      Основной текст
    {% endblock %}  
    </main>
    <footer>
      {% include 'includes/footer.html' %}
    </footer>
    {% include 'includes/drawer.html' %}
    <script src={% static 'js/bootstrap.bundle.min.js' %}></script>
  </body>
</html>