{% extends 'base/base.html' %}
{% load static %}
{% load user_filters %}
{% block title %}
  Редактирование сотрудника команды
{% endblock %}
{% block content %}
<h2 class="text-center mb-4">{{ page_title }}</h2>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container text-center">
        <div class="full-container">
          <h4 class="text-center mb-4">Информация о сотруднике</h4>
          <table class="table-table">
            <tbody>
            {% for field in form.visible_fields %}
              {% if field.name in 'surname name patronymic phone' %} {% include "main/fields/text_input_field.html" %} {% endif %}
            {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="full-container">
          <h4 class="text-center mb-4">Информация о состоянии в команде</h4>
          <table class="table-table">
            <tbody>
                {% for field in staff_form %}
                  {% if field.name == 'staff_position'%} {% include "main/fields/select_field.html" %}
                  {% elif field.name == 'team'%} {% include "main/fields/team_select_field.html" %}
                  {% else %} {% include "main/fields/text_input_field.html" %}
                  {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>

    <!-- Save Button -->
    <div class="container">
      <div class="row">
        <div class="col text-center text-white flex justify-start">
          <button
            type="submit"
            class="btn btn-secondary text-white"
            style="background-color: #64C2D1; border: 1px solid #fff;">
            Сохранить
          </button>
        </div>
      </div>
    </div>
  </form>
  <div class="container mb-4"></div>
{% endblock %}