{% extends 'base/base.html' %}
{% load static %}
{% load user_filters %}
{% block title %}
  Редактирование сотрудника команды
{% endblock %}
{% block content %}
<h2 class="text-center mb-4">{{ page_title }}</h2>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container">
      <table class="table-table">
        <tbody>
          {% for field in form.visible_fields %}
            {% if field.name in "qualification notes"%} {% include "main/fields/text_input_field.html" %}
            {% elif  field.name in "team" %} {% include "main/fields/team_select_field_2_fields.html" %}
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- Save Button -->
    <div class="container">
      <div class="row">
        <div class="col text-center text-white flex justify-start">
          <button
            type="submit"
            class="btn btn-secondary text-white"
            style="background-color: #64C2D1; border: 1px solid #fff;">
            Сохранить
          </button>
        </div>
      </div>
    </div>
  </form>
  <div class="container mb-4"></div>
{% endblock %}


{% block JavaScript %}
<script>

    const mover = new SelectManipulation('id_available_teams', 'id_team');
    const selectAllSelected = new SelectAllSelected('id_team');
    const search_available_teams = new SearchValue('id_available_teams', 'selector-filter-available');
    const search_current_teams = new SearchValue('id_team', 'selector-filter-current');

</script>
{% endblock %}