{% extends 'base/base.html' %}
{% load static %}

{% block title %}
  Редактирование профиля игрока
{% endblock %}

{% block content %}
  <h2 class="text-center mb-4">Редактирование профиля игрока</h2>

  <form method="post" action="{% url 'main:player_id_edit' player.id %}">
    {% csrf_token %}
    <div class="container text-start">
      <div class="row">
        <div class="col-md-6">
          <h4 class="text-center mb-4">Личная информация</h4>
          <table class="table">
            <tbody>
              {% for field in form.visible_fields %}
                  {% if field.name in 'surname name patronymic gender birthday discipline diagnosis' or field.name == 'identity_document' %}
                  <tr>
                    <th>{{ field.label_tag }}</th>
                    <td>{{ field }}</td>
                    <td>{{ field.errors }}</td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="col-md-6">
          <h4 class="text-center mb-4">Игровая информация</h4>
          <table class="table">
            <tbody>
              {% for field in form.visible_fields %}
                {% if field.name in 'team level_revision is_captain is_assistent position number' %}
                  <tr>
                    <th>{{ field.label_tag }}</th>
                    <td>{{ field }}</td>
                    <td>{{ field.errors }}</td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h4 class="text-center mb-4">Документы</h4>
          <table class="table">
            {% if player_documents %}
              <table class="table">
                <thead>
                  <tr>
                    <th>Название</th>
                    <th>Файл</th>
                  </tr>
                </thead>
                <tbody>
                  {% for doc in player_documents %}
                    <tr>
                      <td>{{ doc.name }}</td>
                      <td><a href="{{ doc.file.url }}" target="_blank">Просмотреть</a></td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% else %}
              <p>Документы отсутствуют</p>
            {% endif %}
          </table>
        </div>
      </div>

    <!-- Save Button -->
    <div class="container">
      <div class="row">
        <div class="col text-center text-white flex justify-start">
          <button type="submit" class="btn btn-secondary text-white"
                  style="background-color: #64C2D1; border: 1px solid #fff;">
            Сохранить
          </button>
        </div>
      </div>
    </div>
  </form>
  <div class="container mb-4"></div>
{% endblock %}
