{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block content %}
<h2 class="text-center mb-4">{{ page_title }}</h2>

<form style="width: 100%;" action="">
    <table class="table-table">
      <tbody>
        <tr>
          <th>Фамилия</th>
          <td class="base-wrapper">
            <input placeholder="Введите фамилию" class="base-input" type="text">
          </td>
        </tr>
        <tr>
          <th>Имя</th>
          <td class="base-wrapper">
            <input value="Иван" class="base-input" type="text">
          </td>
        </tr>
        <tr>
          <th>Опции</th>
          <td class="base-wrapper">
            <select class="base-select" name="options" id="options">
              <option class="base-option" value="1">Первый вариант</option>
              <option class="base-option" value="2">Второй вариант</option>
              <option class="base-option" value="3">Третий вариант</option>
            </select>
          </td>
        </tr>
        <tr>
          <th>Текстовая область</th>
          <td class="base-wrapper">
            <textarea class="base-textarea" name="textarea" id="textarea" rows="4"></textarea>
          </td>
        </tr>
        <tr>
          <th>Чекбокс</th>
          <td class="base-wrapper">
            <input class="base-checkbox" type="checkbox" id="myCheckbox">
          </td>
        </tr>
      </tbody>
    </table>
  </form>

<form id="playerForm" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container text-center">
        <div class="full-container">
            <h4 class="text-center mb-4">Личная информация</h4>
            <table class="table-table">
                <tbody>
                {% for field in form.visible_fields %}
                    {% if field.name in 'surname name patronymic gender birthday discipline diagnosis' or field.name == 'identity_document' %}
                        <tr>
                            <th>{{ field.label_tag }}</th>
                            <td>{{ field }}</td>
                            <td>{{ field.errors }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="full-container">
            <h4 class="text-center mb-4">Игровая информация</h4>
            <table class="table-table">
                <tbody>
                    {% for field in form.visible_fields %}
                        {% if field.name in 'team level_revision is_captain is_assistent position number' %}
                        <tr {% if team_id and field.name == 'team' %} style="display:none;" {% endif %}>
                            <th>{{ field.label_tag }}</th>
                            <td>{{ field }}</td>
                            <td>{{ field.errors }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <h4 class="text-center mb-4">Документы</h4>
        <table class="table-table">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Файл</th>
                    <th>Удалить</th>
                </tr>
            </thead>
            <tbody id="fileUploadContainer">
            {% if player_documents %}
                {% for doc in player_documents %}
                    <tr>
                        <td>{{ doc.name }}</td>
                        <td><a href="{{ doc.file.url }}" target="_blank">Просмотреть</a></td>
                        <td><button id="deleteFileButton" type="button" class="btn btn-danger">-</button></td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        <button id="addFileButton" type="button" class="btn btn-primary">+</button>
        {% if team_id %}
        <input type="hidden" value="{{ team_id }}" name="team_id" >
        {% endif %}
        <!-- Save Button -->
        <div class="container">
            <div class="row">
                <div class="col text-center text-white flex justify-start">
                    <button
                    type="submit"
                    class="btn btn-secondary text-white"
                    style="background-color: #64C2D1; border: 1px solid #fff;"
                    >
                        Сохранить
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block JavaScript %}
<script>
let deleteButtons = document.querySelectorAll("#deleteFileButton");

function addDeleteButtonEvent(button) {
    button.addEventListener("click", function() {
        const parentRow = this.closest("tr");
        const a_tag = parentRow.querySelector("a");
        if (a_tag) {
            const fileName = a_tag.getAttribute("href");
            let hiddenInput = document.createElement("input");
            hiddenInput.style.display = "none";
            hiddenInput.name = "deleted_file_path[]";
            hiddenInput.value = fileName;
            parentRow.appendChild(hiddenInput);
        }
        parentRow.style.display = "none";
    });
}

function addNewFileField() {
        let fileUploadContainer = document.getElementById('fileUploadContainer');
    let newFileUpload = document.createElement("tr");
    newFileUpload.classList.add("file-upload-container");
    newFileUpload.classList.add("m-2");
    newFileUpload.innerHTML = `
            <td><input type="text" name="new_file_name[]" placeholder="Name" class="form-control"></td>
            <td><input type="file" name="new_file_path[]" accept="{{ file_resolution }}" class="form-control"></td>
        `;
    const deleteButton = document.createElement("button");
    deleteButton.id = "deleteFileButton";
    deleteButton.type = "button";
    deleteButton.className = "btn btn-danger";
    deleteButton.textContent = "-";
    addDeleteButtonEvent(deleteButton);

    const newTd = document.createElement("td");
    newTd.appendChild(deleteButton);
    newFileUpload.appendChild(newTd);
    fileUploadContainer.appendChild(newFileUpload);
}

deleteButtons.forEach(function(button) {
    addDeleteButtonEvent(button);
});

document.getElementById('addFileButton').addEventListener('click', function() {
    addNewFileField()
});

addNewFileField()
</script>
{% endblock %}
