{% extends 'base/base.html' %}
{% load static %}
{% load user_filters %}
{% block title %}
    {{ page_title }}
{% endblock %}

{% block content %}
<h2 class="text-center mb-4">{{ page_title }}</h2>
<form id="playerForm" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container text-center">
        <div class="full-container">
            <h4 class="text-center mb-4">Личная информация</h4>
            <table class="table-table">
                <tbody>
                  {% for field in form.visible_fields %}
                    {% if field.name in 'surname name patronymic birthday identity_document'%}
                      <tr>
                        <th>{{ field.label_tag }}
                          {% if field.name in 'birthday identity_document' %}
                            <span class="help-icon" title="{{ field.help_text }}"></span>
                          {% endif %}
                        </th>
                          <td>
                            {% if field.errors %}
                              {{ field |addclass:'base-input-errors'}}
                              {{ field.errors }}
                            {% else %}
                              {{ field |addclass:'base-input'}}
                            {% endif %}
                          </td>
                      <tr>
                    {% elif  field.name in 'gender discipline diagnosis' %}
                      <tr>
                        <th>{{ field.label_tag }}</th>
                            <td>
                              {% if field.errors %}
                                {{ field |addclass:'base-select-errors'}}
                                {{ field.errors|striptags}}
                              {% else %}
                                {{ field |addclass:'base-select'}}
                              {% endif %}
                            </td>
                      </tr>
                        {% endif %}
                  {% endfor %}
                </tbody>
              </table>
        </div>
        <div class="full-container">
            <h4 class="text-center mb-4">Игровая информация</h4>
            <table class="table-table">
              {% for field in form.visible_fields %}
                {% if field.name in "level_revision number"%}
                    <tr>
                      <th>{{ field.label_tag }}</th>
                        <td class="base-wrapper">
                          {% if field.errors %}
                            {{ field |addclass:"base-input-errors"}}
                            {{ field.errors }}
                          {% else %}
                            {{ field |addclass:"base-input"}}
                          {% endif %}
                        </td>
                    <tr>
                  {% elif  field.name in "team" %}
                  <tr>
                    <th>{{ field.label_tag }}</th>
                        <td class="base-wrapper">
                          {% if field.errors %}
                            {{ field |addclass:"base-select-errors"}}
                            {{ field.errors|striptags}}
                          {% else %}
                            <div class="selectors-teams">
                              <div class="selector-left">
                                <h2> Доступные команды 
                                  <span class="help-icon" title="{{ field.help_text }}"></span>
                                </h2>
                                {{ field |addclass:"base-select-teams"}}
                              </div>
                            </div>
                          {% endif %}
                        </td>
                  </tr>
                  {% elif  field.name in "is_captain is_assistent" %}
                    <tr>
                      <th>{{ field.label_tag }}</th>
                        <td class="base-wrapper">
                          {{ field |addclass:"base-checkbox"}}
                        </td>
                    </tr>
                  {% elif  field.name in "position" %}
                    <tr>
                      <th>{{ field.label_tag }}</th>
                        <td class="base-wrapper">
                          {% if field.errors %}
                            {{ field |addclass:'base-select-errors'}}
                            {{ field.errors|striptags}}
                          {% else %}
                            {{ field |addclass:'base-select'}}
                          {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
              </tbody>
            </table>
        </div>
        <h4 class="text-center mb-4">Документы</h4>
        <table class="table-table">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Файл</th>
                    <th>Удалить</th>
                </tr>
            </thead>
            <tbody id="fileUploadContainer">
            {% if player_documents %}
                {% for doc in player_documents %}
                    <tr>
                        <td>{{ doc.name }}</td>
                        <td><a href="{{ doc.file.url }}" target="_blank">Просмотреть</a></td>
                        <td><button id="deleteFileButton" type="button" class="btn btn-danger">-</button></td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        <button id="addFileButton" type="button" class="btn btn-primary">+</button>
        {% if team_id %}
        <input type="hidden" value="{{ team_id }}" name="team_id" >
        {% endif %}
        <!-- Save Button -->
        <div class="container">
            <div class="row">
                <div class="col text-center text-white flex justify-start">
                    <button
                    type="submit"
                    class="btn btn-secondary text-white"
                    style="background-color: #64C2D1; border: 1px solid #fff;"
                    >
                        Сохранить
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block JavaScript %}
<script>
let deleteButtons = document.querySelectorAll("#deleteFileButton");

function addDeleteButtonEvent(button) {
    button.addEventListener("click", function() {
        const parentRow = this.closest("tr");
        const a_tag = parentRow.querySelector("a");
        if (a_tag) {
            const fileName = a_tag.getAttribute("href");
            let hiddenInput = document.createElement("input");
            hiddenInput.style.display = "none";
            hiddenInput.name = "deleted_file_path[]";
            hiddenInput.value = fileName;
            parentRow.appendChild(hiddenInput);
        }
        parentRow.style.display = "none";
    });
}

function addNewFileField() {
        let fileUploadContainer = document.getElementById('fileUploadContainer');
    let newFileUpload = document.createElement("tr");
    newFileUpload.classList.add("file-upload-container");
    newFileUpload.classList.add("m-2");
    newFileUpload.innerHTML = `
            <td><input type="text" name="new_file_name[]" placeholder="Name" class="form-control"></td>
            <td><input type="file" name="new_file_path[]" accept="{{ file_resolution }}" class="form-control"></td>
        `;
    const deleteButton = document.createElement("button");
    deleteButton.id = "deleteFileButton";
    deleteButton.type = "button";
    deleteButton.className = "btn btn-danger";
    deleteButton.textContent = "-";
    addDeleteButtonEvent(deleteButton);

    const newTd = document.createElement("td");
    newTd.appendChild(deleteButton);
    newFileUpload.appendChild(newTd);
    fileUploadContainer.appendChild(newFileUpload);
}

deleteButtons.forEach(function(button) {
    addDeleteButtonEvent(button);
});

document.getElementById('addFileButton').addEventListener('click', function() {
    addNewFileField()
});

addNewFileField()
</script>
{% endblock %}
