html, body {
  background-color: #ECF1F5;
}
section {
  padding: 100px;
}

li {
  list-style-type: none;
}

.header-line{
  display:inline-flex;
  align-items:center;
}

.header-logo {
  margin: 70px 84px;
  z-index: 999;
  width: 250px;
  height: 250px;

}

.navbar-control {
  background: url(../img/footer.png);
  height: 85px;
}

.pg-list-active {
  background-color: #269FBD;
  color: black;
  font-size: 18px;
}
.pg-list {
  background-color: #269FBD;
  color: white;
  font-size: 18px;
}
.drawler_menu{
  color: #ffffff;
  background-color: #64C2D1;
  border-radius: 6px;
}

.drawler_menu:hover {
  color: #ECF1F5;
  background-color: #340061;
}

.drawler-menu-active {
  background-color: #340061  ;
  color: #fff;
  border-radius: 6px;
}

.drawler-menu-active:hover {
  background-color: #340061  ;
  color: #fff;
}

.header-ellipse {
  top : 00px;
  position: absolute;
  margin-left: 150px;
  z-index: 997;
  width: 700px;
  height: 400px;
}

.header-rect {
  align-self: center;
  position: absolute;
  margin-left: 450px;
  margin-top: -50px;
  z-index: 996;
}

.header-text {
  color: #340061;
  position: relative;
  z-index: 999;
  text-decoration: none;
  font-family: sans-serif;
  width: 350px;
  height: 159px;
  font-size: 36px;
  margin-left: -60px;
  font-weight: bold;
}

.form_login {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 400px;
  margin-left: 500px;
  margin-top: -70px;
}

.form_btn {
  background-color: #64C2D1;
  color: #fff;
  width: 240px;
  height: 40px;
  font-size: 22px;
  text-align: center;
  border-style: none;
}

.form_btn:hover {
  background-color: rgb(64, 159, 172);
}

.enter_btn {
  position: relative;
  align-items: center;
  left: -11px;
}

.btsss {
  width: 150px;
}

.btns-edit-del {
  background-color: #fff;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-color: #64C2D1;
}

.btns-edit-del:disabled {
  background-color: #b1b1c2;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-color: #000000;
}

.forget-button {
  text-decoration: none;
  color: #E73259;
  position: relative;
  left: 50px;
  width: 150px;
  height: 50px;
  top: 10px;
}

.forget-button:hover {
  color: #851d33;
}

.errors {
  width: 200px;
  height: 150px;
  position: left;
  margin-top: -350px;
  margin-left: 900px;
}

.button_out {
  background-color: #E73259;
  border-radius: 39px;
  position: relative;
  width: 240px;
  height: 60px;
  bottom: 50px;
  font-size: 24px;
  border-color: #E73259;
  .text {
      color: #fff;
      text-decoration: none;
  }

}

.button_out:hover {
  background-color: #570a2a;
}

.reset_card {
  height: 250px;
  width: 355px;
  left: 200px;
  border: none;
  align-items: center;
}

.update_card {
  width: 350px;
  left: 150px;
}

.update_btn {
  position: absolute;
  left: 55px;
  margin-top: 20px;
  background-color: #64C2D1;
  color: #fff;
  width: 240px;
  height: 40px;
  font-size: 22px;
  border: #fff;
  text-decoration: none;
}

.reser_card_form {
  position: inherit;
  align-items: center;
  text-align: center;
  border: black;
  background-color: #ECF1F5;
  .reset_btn {
    position: absolute;
    left: 65px;
    margin-top: 20px;
    background-color: #64C2D1;
    color: #fff;
    width: 240px;
    height: 40px;
    font-size: 22px;
    border: #fff;
    text-decoration: none;
  }
}

.forget-button-done {
  position: absolute;
  text-align: center;
  left: 85px;
  margin-top: 20px;
  background-color: #64C2D1;
  color: #fff;
  width: 200px;
  height: 40px;
  font-size: 22px;
  border: #fff;
  text-decoration: none;
}

.done_btn {
  background-color: #64C2D1;
  color: #fff;
  position: inherit;
  border: #fff;
}

.done_btn_confirm {
  background-color: #64C2D1;
  color: #fff;
  position: relative;
  border: #fff;
  width: 200px;
  height: 40px;
  left: -50px;
  margin-top: 20px;
}

.navbar-options {
  background-color: #64c2d1;
}

.navbar-btns{
  border-color: #fff;
  color: #fff;
  cursor: pointer;
}

.navbar-btns:hover {
  border-color: #340061;
  background-color: #340061;
  color: #fff
}

.footer-options {
  background-color: #64c2d1;
  height: 90px;
}

.sourch-options {
  width: 30px;
  background-color: #fff;
  border-color: #64C2D1;
  height: 40px;
}
