html, body {
  background-color: #ECF1F5;
  margin: 0;
  padding: 0;
}

/* * {
  outline: 1px solid red;
} */

section {
  padding: 100px;
}

li {
  list-style-type: none;
}

.header-login {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: space-between;
  align-items: center;
}

.header {
  max-width: 100vw;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  margin: 0 18px 0 73px;
  position: relative;
  max-width: 250px;
  max-height: 250px;
  grid-column: 1 / 2;
  z-index: 3;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .header-logo {
    margin: 0 18px 0 30px;
    max-width: 120px;
    max-height: 120px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header-logo {
    margin: 0 8px 0 8px;
    max-width: 70px;
    max-height: 70px;
  }
}

.footer-class {
  background: url(../img/footer.png);
  max-width: 100vw;
  min-height: 81px;
}

.pg-list-active {
  background-color: #269FBD;
  color: black;
  font-size: 18px;
}

.form_create {
  width: 500px;
  height: 650px;
}
.pg-list-active:hover {
  background-color: #269FBD;
  color: black;
  font-size: 18px;
}

.pg-list {
  background-color: #269FBD;
  color: white;
  font-size: 18px;
}

.pg-list:hover {
  background-color: #340061;
  color: #fff;
}

.drawler_menu{
  color: #ffffff;
  background-color: #64C2D1;
  border-radius: 6px;
}

.drawler_menu:hover {
  color: #ECF1F5;
  background-color: #340061;
}

.drawler-menu-active {
  background-color: #340061  ;
  color: #fff;
  border-radius: 6px;
}

.drawler-menu-active:hover {
  background-color: #340061  ;
  color: #fff;
}

.header-ellipse {
  position: absolute;
  top : 0;
  left: -20%;
  min-width: 40%;
  height: 100%;
  background-color: #ecf1f5;
  border-radius: 9999px;
  z-index: 2;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .header-ellipse {
    left: -22%;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header-ellipse {
    left: -20%;
  }
}

.header-rect-container {
  position: relative;
  display: block;
  min-height: 100%;
  grid-column: 4 / -1;
  grid-row: 1;
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
  .header-rect-container {
    grid-column: 6 / -1;
  }
}

.header-rect {
  position: relative;
  max-width: 100%;
  min-height: 345px;
  z-index: 1;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .header-rect {
    min-height: 250px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header-rect {
    min-height: 100px;
    max-height: 200px;
  }
}

.header-text {
  position: relative;
  margin: 0;
  padding: 0;
  color: #340061;
  grid-column: 2 / span 4;
  grid-row: 1;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 700;
  font-weight: bold;
  z-index: 5;
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
  .header-text {
    font-size: 48px;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1440px) {
  .header-text {
    grid-column: 2 / span 4;
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .header-text {
    font-size: 26px;
  }
}

@media screen and (min-width: 400px) and (max-width: 767px) {
  .header-text {
    font-size: 14px;
  }
}

@media screen and (min-width: 320px) and (max-width: 399px) {
  .header-text {
    font-size: 10px;
  }
}

.form_login {
  margin: 20px auto 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-login-form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .form-login-form {
    max-width: 280px;
  }
}

.form-input {
  width: 100%;
}

.form-layout {
  margin: 8px 0 20px 0;
  height: 80px;
  width: 100%;
  font-size: 32px;
  line-height: 1.2;
  background-color: #fff;
  border: 1px solid #00000020;
  border-radius: 5px;
  outline: none;
}

.form-layout:focus {
  border: 3px solid #E73259;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .form-layout {
    height: 50px;
  }
}

.form_btn {
  background-color: #64C2D1;
  color: #fff;
  width: 100%;
  height: 80px;
  font-size: 22px;
  text-align: center;
  border-style: none;
  border-radius: 5px;
}

.form_btn:hover {
  background-color: rgb(64, 159, 172);
}

.enter_btn {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btsss {
  width: 150px;
}

.btns-edit-del {
  background-color: #fff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns-edit-del:disabled {
  background-color: #b1b1c2;
}

.forget-button {
  margin: 15px 0 15px 0;
  text-decoration: none;
  color: #E73259;
  position: relative;
}

.forget-button:hover {
  color: #851d33;
}

.errors {
  width: 100%;
}

.button_out {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
  background-color: #E73259;
  border-radius: 39px;
  width: 240px;
  height: 60px;
  font-size: 24px;
  border-color: #E73259;
  color: #fff;
  text-decoration: none;
}

.button_out:hover {
  opacity: 0.9;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .button_out {
    margin: 0;
  }
}

.reset_card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  align-items: center;
}

.update_card {
  width: 100%;
}

.update_btn {
  margin-top: 20px;
  background-color: #64C2D1;
  color: #fff;
  width: 240px;
  height: 40px;
  font-size: 22px;
  border: #fff;
  text-decoration: none;
}

.reser_card_form {
  position: inherit;
  align-items: center;
  text-align: center;
  border: black;
  background-color: #ECF1F5;
  .reset_btn {
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    background-color: #64C2D1;
    color: #fff;
    font-size: 22px;
    text-decoration: none;
  }
}

.forget-button-done {
  position: absolute;
  text-align: center;
  left: 85px;
  margin-top: 20px;
  background-color: #64C2D1;
  color: #fff;
  width: 200px;
  height: 40px;
  font-size: 22px;
  border: #fff;
  text-decoration: none;
}

.container__fluid {
  margin: 0;
  padding: 0;
  transition: width 0.5s;
  display: flex;
  min-height: 100vh;
}

.container__flu {
  width: 0;
  opacity: 0;
}

#rectangle {
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

.done_btn {
  background-color: #64C2D1;
  color: #fff;
  position: inherit;
  border: #fff;
}

.done_btn_confirm {
  background-color: #64C2D1;
  color: #fff;
  position: relative;
  border: #fff;
  width: 200px;
  height: 40px;
  left: -50px;
  margin-top: 20px;
}

.aside-navbar {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  height: 100%;
  left: 0;
  background-color: #340061;
  transition: left 0.3s ease;
  z-index: 5;
}

.aside-navbar_closed {
  left: -282px;
}

.navbar-options {
  background-color: #64c2d1;
}

.navbar-btns {
  border-color: #fff;
  color: #fff;
  cursor: pointer;
}

.navbar-btns:hover {
  border-color: #340061;
  background-color: #340061;
  color: #fff
}

.footer-options {
  background-color: #64c2d1;
  height: 90px;
}

.footer {
  padding: 0;
  margin: 0;
  width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.sourch-options {
  width: 30px;
  background-color: #fff;
  border-color: #64C2D1;
  height: 40px;
}

@media (min-width: 1104px) {
  .table-responsive {
    overflow-x: hidden;
  }
}

.delete-icon {
  width: 30px;
  height: 30px;
}

.delete-icon:hover path {
  fill: #E73259;
}

.edit-icon {
  width: 30px;
  height: 30px;
}

.edit-icon:hover path {
  fill: #340061;
}

.icons-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-zone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  min-width: 250px;
}

.main {
  margin: 30px 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: column;
}

.page {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: 100vh;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell-table {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-table {
  display: flex;
}

th {
  background-color: #FFFFFF;
  border: none;
  border-radius: 8px;
  text-align: center;
  padding: 5px;
}

td {
  background-color: #FFFFFF;
  border: none;
  border-radius: 8px;
  text-align: center;
  padding: 5px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  th, td {
    font-size: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 860px) {
  th, td {
    font-size: 14px;
  }
}

.table-bordered {
  width: 100%;
}

.table-container {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  min-width: 50vw;
  max-height: 95vh;
  overflow-x: auto;
  overflow-y: auto;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.table-table {
  padding: 10px 5px;
  border-collapse: separate;
  border-spacing: 4px;
  width: 100%;
}

.navigate {
  margin: 0;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  position: relative;
}

.nav-button {
  position: absolute;
  right: -50px;
  bottom: 4%;
  margin: 0;
  padding: 5px 15px;
  border: none;
  border-radius: 0 8px 8px 0 / 8px 8px 8px 8px;
  background-color: #340061;
  outline: none;
}

.navbar-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .navbar-footer {
    flex-direction: column;
  }
}

.items__group {
  display: flex;
  justify-content: space-around;
}

.navbar-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .user-info {
    font-size: 10px;
  }
}

.search__button {
  border-radius: 0 10px 10px 0;
}

.select-form {
  border-radius: 10px 0 0 10px;
}

.height {
  margin: 10px;
  padding: 0;
  max-height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.group-input {
  display: flex;
  justify-content: center;
}

.cell__buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.container-divs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divs-limit {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  gap: 20px;
  text-align: center;
}

.profile-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.triangle {
  padding: 8px 0;
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}