{% load user_filters %}
{% load static %}
<tr>
  <th>{{ field.label_tag }}</th>
    <td class="base-wrapper">
      {% if field.errors %}
        {{ field |addclass:'base-select-errors'}}
        {{ field.errors }}
      {% else %}
        {{ field |addclass:'base-select'}}
      {% endif %}
    </td>
</tr>
<script src="{% static 'js/jquery-select2.min.js' %}"></script>
<script>
  $("#id_discipline_name").change(function() {
    const url = $("#playerForm").attr("data-discipline-level");
    const discipline_level = $(this).val();
    $.ajax({
      url: url,
      data: {
        'discipline_level_id': discipline_level
      },
      success: function(data) {
          let html_data = '<option value="">---------</option>';
                data.forEach(function (discipline_level) {
                    html_data += `<option value="${discipline_level.id}">${discipline_level.name}</option>`
                });
                $("#id_discipline_level").html(html_data);
      }
    })
  })
</script>
