{% load user_filters %}
<tr>
  <th>{{ field.label_tag }}
    {% if field.name in 'birthday identity_document phone email' %}
      <span class="help-icon" title="{{ field.help_text }}"></span>
    {% endif %}
  </th>
    <td class="base-wrapper">
      {% if field.errors %}
        {{ field |addclass:'base-input-errors'}}
        {{ field.errors }}
      {% else %}
        {% if field.name == 'birthday' %}
          <input type="text" name="{{ field.html_name }}" value="{{ field.value|date:'d.m.Y' }}" class="{{ field.field_classes|default_if_none:'' }} base-input" placeholder="{{ field.field_placeholder|default_if_none:'' }}">
        {% else %}
          {{ field |addclass:'base-input'}}
        {% endif %}
      {% endif %}
    </td>
<tr>
