<!DOCTYPE html>
<html lang="ru">
<head>
  {% load static %}
  {% include 'registration/includes/head.html' %}
  <link rel="icon" type="image/ico" href="{% static 'favicon.ico' %}">
  <title>
    {% block title %} {% endblock %}
  </title>
</head>
<body>
  {% include 'registration/includes/header.html'%}
  {% block content %}
      Контент не подвезли
  {% endblock %}
  {% include 'registration/includes/footer.html'%}
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
