{% extends "registration/base.html" %}
{% block title %} Сброс пароля {% endblock %}
{% block content %}
{% include 'registration/includes/open_divs.html' %}
<div class="card-header">
    E-майл, под которым вы регистрировались
</div>
<div class="card-body reser_card_form">
  {% include 'registration/includes/forms_errors.html' %}
  <form method="post"
  {% if action_url %}
    action="{% url action_url %}"
  {% endif %}>
    {% csrf_token %}

    {% for field in form %}
      {% include 'registration/includes/fields_form.html' %}
    {% endfor %}
    <div class="col-md-6 offset-md-4">
      <button type="submit" class="reset_btn">
        Сбросить пароль
      </button>
    </div>
  </form>
</div>
{% include 'registration/includes/close_divs.html' %}
{% endblock %}
