{% extends "registration/base.html" %}
{% block title %} Сброс пароля прошёл успешно {% endblock %}
{% block content %}
{% include 'registration/includes/open_divs.html' %}
<div class="card-header">
  Восстановление пароля завершено
</div>
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<div class="card-body">
  <p>Ваш пароль был изменён.
  </p>
  <div class="col-md-6 offset-md-4">
    <button type='submit' class="done_btn_confirm">
      Войти
    </button>
  </div>
</div>
</form>
{% include 'registration/includes/close_divs.html' %}
{% endblock %}