{% extends "base.html" %}
{% block title %} Сброс пароля прошёл успешно {% endblock %}
{% block content %}
{% include 'registration/includes/open_divs.html' %}
<div class="card">
  <form method="action" action="{% url 'users:login' %}">
    <div class="form-group">
      <div class="card-header">
        Восстановление пароля завершено
      </div>
      <div class="card-body">
        <p>Ваш пароль был сохранен. Используйте его для входа</p>
        <div class="col-md-6 offset-md-4">
          <button type='submit' class="btn btn-primary">
            Войти
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
{% include 'registration/includes/close_divs.html' %}
{% endblock %}