{% load static %}
<td class="border rounded-md btsss">
  <div class="input-group justify-content-md-center">
    <form action="*" method="post">
      {% csrf_token %}
      <button class=" btns-edit-del" type="button" {% if perms.users.change_user %} activate {% else %} disabled {% endif %}>
        <img src={% static 'img/edit.png' %}>
      </button>
    </form>
    <form action="*" method="post" >
      {% csrf_token %}
      <button class="btns-edit-del" type="button" {% if perms.users.delete_user %} activate {% else %} disabled {% endif %} onclick="return confirm('Вы точно хотите удалить пользователя {{ table_string.name }}?');"></a>
        <img src={% static 'img/delete.png' %}>
      </button>
    </form>
  </div>
</td>
