<nav class="navbar navbar-light bg-cyan-300">
  
  <div class="container">
    <ul class="nav d-flex justify-content-start">
      <div class="border border-white rounded px-2">
        <i class="bi bi-circle-fill fs-2" style="color: red;"></i>
        <b class="text-xl">Username</b>
      </div>
    </ul>
    
    <ul class="nav justify-content-end">
      <li class="nav-item">
        {% include "includes/dropdown_button.html" %}
        <a class="nav-link border border-primary mt-3 mb-4 bg-white p-0.5" href="##">
          <i class="bi bi-search fs-4 bg-white" style="color: black;"></i>
        </a>
      </li>
      <li class="nav-item ms-16">
        <a class="nav-link" href="##">
          <i class="bi bi-box-arrow-right fs-1" style="color: white;"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>   