{% load static %}
<nav class="top-menu" style="background-color: #64c2d1;">

  <div class="nav justify-content-end">
    <ul class="nav d-flex justify-content-start">
      {% if request.user.is_authenticated %}
      <div class="border border-white rounded px-2">
        <i class="bi bi-circle-fill fs-3" style="color: black;"></i>
        <a href="{% url 'users:profile' user.username %}">
          <b class="text-xl" style="color: #340061;">{{ user.username }}</b>
        </a>
      </div>
      <div class="border border-white rounded px-2">
        <i class="bi bi-circle-fill fs-3" style="color: red;"></i>
        <a href="{% url 'users:logout' %}">
          <b class="text-xl" style="color: #340061;">Выйти</b>
        </a>
      </div>
      {% else %}
      <div class="border border-white rounded px-2">
        <i class="bi bi-circle-fill fs-3" style="color: green;"></i>
        <a href="{% url 'users:login' %}">
          <b class="text-xl" style="color: #340061;">Войти</b>
        </a>
      </div>
      <div class="border border-white rounded px-2">
        <i class="bi bi-circle-fill fs-3" style="color: blue;"></i>
        <a  href="{% url 'users:signup' %}">
          <b class="text-xl" style="color: #340061;">Регистрация</b>
        </a>
      </div>
      {% endif %}
    </ul>
  </div>
</nav>   