<li class="nav-item dropdown">
    <form method="GET">
        <div class="input-group" style="position: relative;">
            <select class="form-select" aria-label="Default select example" name="search_column">
                <option selected>Все</option>
                {% for key, column_name in table_head.items %}
                <option value="{{ key }}">{{ column_name }}</option>
                {% endfor %}
            </select>
            <input type="search" id="form1" class="form-control" name="search" aria-label="search"
            placeholder="{% if request.resolver_match.url_name == 'players' %}Игрок
                         {% elif request.resolver_match.url_name == 'users' %}Роль
                         {% elif request.resolver_match.url_name == 'teams' %}Команда
                         {% elif request.resolver_match.url_name == 'competitions' %}Соревнование
                         {% elif request.resolver_match.url_name == 'analytics' %}Аналитика
                         {% else %}Выгрузка
                         {% endif %}"
            style="border-top-left-radius: 0; border-bottom-left-radius: 0;"/>
            <button type="submit" class="btn btn-outline-secondary bg-white"
                    style="border-top-right-radius: 0; border-bottom-right-radius: 0;">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </form>
</li>
