{% load static %}
<table class="table table-borderless border-separate border-spacing-1">
  <thead>
    <tr>
      {% for head_item in table_head.values %}
        <th scope="col" class="border rounded-md table-light">{{ head_item }}</th>
      {% endfor %}
      <th scope="col" class="border rounded-md table-light">
        <div class="row">
          <div class="col text-right">
            <img src={% static 'img/edit.png' %} class="float-end">
          </div>
          <div class="col text-left">
            <img src={% static 'img/delete.png' %} class="float-start">
          </div>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr><td></td></tr>
    {% for table_string in table_data %}
      <tr>
        {% for cell in table_string.values %}
          {% if forloop.counter0 == 1 %}
            <td class="border rounded-md table-light">
              <a href="{% url 'main:teams_id' id=table_string.id %}">{{ cell }}
            </td>
          {% else %}
            <td class="border rounded-md table-light">{{ cell }}</td>
          {% endif %}
        {% endfor %}
        <td class="border rounded-md table-light">
          <button type="button"><img src={% static 'img/edit.png' %}></button>
          <button type="button"><img src={% static 'img/delete.png' %}></button>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
