{% load static %}
<table class="table table-borderless border-separate border-spacing-1 align-middle">
  <thead>
    <tr>
      {% for head_item in table_head.values %}
        <th scope="col" class="border rounded-md table-light">{{ head_item }}</th>
      {% endfor %}
      <th scope="col" class="border rounded-md table-light">
        <div class="row">
          <div class="col text-right">
            <img src={% static 'img/edit.png' %} class="float-end">
          </div>
          <div class="col text-left">
            <img src={% static 'img/delete.png' %} class="float-start">
          </div>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    {% for table_string in table_data %}
      <tr>
          <td class="border rounded-md table-light">{{ table_string.name }}</td>
          <td class="border rounded-md table-light" style="color: blue;">null</td>
          <td class="border rounded-md table-light" style="color: blue;">null</td>
          <td class="border rounded-md table-light">{{ table_string.email }}</td>
          <td class="border rounded-md table-light">{{ table_string.phone }}</td>
        <td class="border rounded-md btsss">
        <div class="input-group justify-content-md-end">
          <form action="{% url 'users:user_update' table_string.id %}" method="post">
            {% csrf_token %}
            <button class=" btns-edit-del" type="submit" {% if perms.users.change_user %} activate {% else %} disabled {% endif %}>
              <img src={% static 'img/edit.png' %}>
            </button>
          </form>
          <form action="{% url 'users:user_delete' table_string.id %}" method="post" >
            {% csrf_token %}
            <button class="btns-edit-del" type="submit" {% if perms.users.delete_user %} activate {% else %} disabled {% endif %}>
              <img src={% static 'img/delete.png' %}>
            </button>
          </form>
        </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
