{% load static %}

<table class="table table-borderless border-separate border-spacing-1">
  <thead>
    <tr>
      {% for head_item in table_head.values %}
        <th scope="col" class="border rounded-md table-light">{{ head_item }}</th>
      {% endfor %}
      <th scope="col" class="border rounded-md table-light">
        <div class="row">
          <div class="col text-right">
            <img src="{% static 'img/edit.png' %}" class="float-end">
          </div>
          <div class="col text-left">
            <img src="{% static 'img/delete.png' %}" class="float-start">
          </div>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr><td></td></tr>
    {% for table_string in table_data %}
      <tr>
        {% for cell_name, cell_value in table_string.items %}
          {% if forloop.counter0 == 0 and 'url' in table_string %}
            <td class="border rounded-md table-light">
              <a href="{{ table_string.url }}">{{ cell_value }}</a>
            </td>
          {% elif cell_name != 'url' %}
            <td class="border rounded-md table-light">{{ cell_value }}</td>
          {% endif %}
        {% endfor %}
        <td class="border rounded-md table-light">
          <button type="button"><img src="{% static 'img/edit.png' %}"></button>
          <button type="button"><img src="{% static 'img/delete.png' %}"></button>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
