<!DOCTYPE html>
<html lang="ru">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
    <link rel="icon" type="image/ico" href="{% static 'favicon.ico' %}">

    <title>
      {% block title %}
      Тут будет заголовок
      {% endblock %}
    </title>

    <style>
      .content {
        min-height: calc(100vh - 162px);
      }
    </style>
  </head>

  <body>
    <div class="container__fluid">
      {% include 'base/drawer.html' %}
      <div class="page">
        <header class="header">
          {% include 'base/header.html' %}
        </header>
        <main class="main">
          <div class="table-container">
            {% block content_navigation %}
            {% endblock %}
            {% block content %}
            Основной текст
            {% endblock %}
          </div>
        </main>
        {% include 'base/footer.html' %}
      </div>
    </div>
    <!-- JS block -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/tailwindvss-3.4.1.js' %}"></script>
    <script>
      tailwind.config = {
        prefix: "tw-",
        corePlugins: {
          preflight: false,
        }
      }
      const rectangle = document.getElementById('rectangle')
      const sidebar = document.getElementById('container__fluid')
      let isRotated = false
      function toggle_visibility(visabiliti) {
        if (visabiliti) {
          return
        } else {
          if (isRotated) {
            rectangle.style.transform = 'rotate(0deg)'
          } else {
            rectangle.style.transform = 'rotate(180deg)'
          }
          isRotated = !isRotated
          sidebar.classList.toggle('aside-navbar_opened')
        }
      }
      window.onload = toggle_visibility(true)
    </script>
    {% block JavaScript %}
    {% endblock %}
    <!-- End JS block -->
  </body>
</html>
