<footer class="footer footer-class">
  <nav class="navbar-footer">
    <div style="width: 50px;"></div>
    {% include "base/pagination.html" %}
    <ul class="nav nav-pills">
      {% with request.resolver_match.view_name as view_name %}
        {% if view_name == 'users:users' and perms.add_user %}{% include "base/user_button_create!.html" with name="+ Пользователь"%}{% endif %}
        {% if view_name  == 'main:teams' %}{% include "base/team_button_create.html" with name="+ Команда" %}{% endif %}
        {% if view_name  == 'main:competitions' %}{% include "base/button.html" with name="+ Соревнование" %}{% endif %}
        {% if view_name  == 'main:players' %}{% include "main/players/player_button_create.html"%}{% endif %}
        {% if view_name  != 'main:unloads' %}{% include "base/button.html" with name="Выгрузить" %}{% endif %}
        {% if view_name  == 'main:teams_id' %}{% include "base/button_list.html" with name="+ Добавить" %}{% endif %}
      {% endwith %}
    </ul>
  </nav>
</div>
