<footer class="footer mt-auto py-3 bg-light footer-class">
  <nav class="navbar" >
    <div class="container">
      <div class="nav nav-pills justify-content-start">
        <button onclick="toggle_visibility('sidebar');" class="btn" type="button"
        aria-controls="staticBackdrop" aria-expanded="true">
          <i class="bi bi-caret-right-fill fs-3" style="color: #340061;"></i>
        </button>
        {% include "base/pagination.html" %}
      </div>
      <ul class="nav nav-pills ">
        {% with request.resolver_match.view_name as view_name %}
          {% if view_name == 'users:users' and perms.users.add_user %}{% include "base/button_create.html" with name="+ Пользователь"%}{% endif %}
          {% if view_name  == 'main:teams' %}{% include "base/button.html" with name="+ Команда" %}{% endif %}
          {% if view_name  == 'main:competitions' %}{% include "base/button.html" with name="+ Соревнование" %}{% endif %}
          {% if view_name  != 'main:unloads' %}{% include "base/button.html" with name="Выгрузить" %}{% endif %}
          {% if view_name  == 'main:teams_id' %}{% include "base/button_list.html" with name="+ Добавить" %}{% endif %}
        {% endwith %}
      </ul>
    </div>
  </nav>
</div>
