{% load static %}
<nav class="navbar-header" style="background-color: #64c2d1;">
  <ul class="nav d-flex align-items-center justify-content-start">
    <div class="border border-white rounded px-2 user-info">
      <i class="bi bi-circle-fill" style="color: red;"></i>
      <b class="text-xl" style="color: #340061;">{{ request.user.first_name }} {{ request.user.last_name }}</b>
    </div>
  </ul>
  <div class="height">
    {% if request.resolver_match.url_name in 'main' %}
      {% include 'main/home/search_form.html' %}
    {% else %}
      {% include 'base/search_form.html' %}
    {% endif%}
  </div>
  <div class="nav-item ms-2">
    <a  href="{% url 'logout' %}">
      <i class="bi bi-box-arrow-right fs-1" style="color: white;"></i>
    </a>
  </div>
</nav>
