name: Project stage deploy

on:
  workflow_run:
    workflows:
      - Build and push Docker image
    types:
      - completed

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: adaptive_hockey_federation
  DEPLOY_PATH: adaptive_hockey_federation

defaults:
  run:
    working-directory: .

jobs:
  pytest:
    runs-on: ubuntu-latest
    name: pytest
    steps:
      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          poetry-version: 1.5.0

      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          poetry install
      - name: pytest
        run: |
          poetry run pytest
        working-directory: adaptive_hockey_federation

  deploy:
    name: Deploy changes on server
    runs-on: ubuntu-latest
    environment:
      name: stage_deploy
    needs: pytest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: dev

      - name: Set up SSH
        run: |
          mkdir -p ~/.ssh
          chmod 700 ~/.ssh
          ssh-keyscan -H ${{ secrets.HOST }} > ~/.ssh/known_hosts
          chmod 644 ~/.ssh/known_hosts
          echo "${{ secrets.TEST_RSA_SECRET_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
      - name: Create folder for deploy
        run: ssh -vvv ${{ secrets.USERNAME }}@${{ secrets.HOST }} mkdir -p ${{ env.DEPLOY_PATH }}/infra

      - name: Copy dev folder to VPS
        run: |
          scp -r $GITHUB_WORKSPACE/infra/stage/ ${{ secrets.USERNAME }}@${{ secrets.HOST }}:${{ env.DEPLOY_PATH }}/infra/
          scp -r $GITHUB_WORKSPACE/infra/nginx/ ${{ secrets.USERNAME }}@${{ secrets.HOST }}:${{ env.DEPLOY_PATH }}/infra/

      - name: Execute commands on VPS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.TEST_RSA_SECRET_KEY }}
          script: |
            cd ${{ env.DEPLOY_PATH }}
            rm .env
            touch .env

            echo HOST=${{ secrets.HOST }} >> .env
            echo PORT=${{ secrets.PORT }} >> .env
            echo IMAGE_COMPOSE=${{ secrets.IMAGE_COMPOSE }} >> .env
            echo ST=${{ secrets.ST }} >> .env

            echo SECRET_KEY=${{ secrets.SECRET_KEY }} >> .env
            echo DEBUG=${{ secrets.DEBUG }} >> .env
            echo ALLOWED_HOSTS=${{ secrets.ALLOWED_HOSTS }} >> .env
            echo CSRF_TRUSTED_ORIGINS=${{ secrets.CSRF_TRUSTED_ORIGINS }} >> .env

            echo DB_ENGINE=${{ secrets.DB_ENGINE }} >> .env
            echo POSTGRES_DB=${{ secrets.POSTGRES_DB }} >> .env
            echo POSTGRES_USER=${{ secrets.POSTGRES_USER }} >> .env
            echo POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }} >> .env
            echo DB_HOST=${{ secrets.DB_HOST }} >> .env
            echo DB_PORT=${{ secrets.DB_PORT }} >> .env

            echo EMAIL_BACKEND=${{ secrets.EMAIL_BACKEND }} >> .env
            echo EMAIL_HOST=${{ secrets.EMAIL_HOST }} >> .env
            echo EMAIL_PORT=${{ secrets.EMAIL_PORT }} >> .env
            echo EMAIL_HOST_USER=${{ secrets.EMAIL_HOST_USER }} >> .env
            echo EMAIL_HOST_PASSWORD=${{ secrets.EMAIL_HOST_PASSWORD }} >> .env
            echo EMAIL_USE_TLS=${{ secrets.EMAIL_USE_TLS }} >> .env

            cd infra/stage/
            sudo systemctl stop adaptive_hockey_federation.service
            docker system prune --force

            # Installing defend service for app
            sudo cp -f /home/developer/adaptive_hockey_federation/infra/stage/adaptive_hockey_federation.service /etc/systemd/system/adaptive_hockey_federation.service
            sudo systemctl daemon-reload
            sudo systemctl start adaptive_hockey_federation.service

  migrations:
    runs-on: ubuntu-lates
    needs:
      - deploy
    steps:
      - name: Checkout repo
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.TEST_RSA_SECRET_KEY }}
          script: |
            docker exec adaptive_hockey_federation python manage.py collectstatic --noinput
            docker exec adaptive_hockey_federation python manage.py makemigrations
            docker exec adaptive_hockey_federation python manage.py migrate



          # # Wait for container to start/makemigrations/migrate
          # # Max waiting time 60sec. If you need degrees time frame, correct max_attempts and sleep
          # max_attempts=60
          # attempt=1
          # CONTAINER_STATUS=$(docker ps | grep adaptive_hockey_federation)
          # STATUS_OUTPUT=$(sudo systemctl status adaptive_hockey_federation.service)
          # until [ -n "$CONTAINER_STATUS" ]; do
          #   echo Status deamon $STATUS_OUTPUT
          #   echo "Waiting for container $CONTAINER_STATUS to start... Attempt $attempt/$max_attempts"
          #   sleep 1
          #   attempt=$((attempt+1))
          #   if [[ $attempt -gt $max_attempts ]]; then
          #     echo "Container 'adaptive_hockey_federation' did not start within expected time frame."
          #     exit 1
          #   fi
          #   CONTAINER_STATUS=$(docker ps | grep adaptive_hockey_federation)
          #   STATUS_OUTPUT=$(sudo systemctl status adaptive_hockey_federation.service)
          # done
          # docker exec adaptive_hockey_federation python manage.py collectstatic --noinput
          # docker exec adaptive_hockey_federation python manage.py makemigrations
          # docker exec adaptive_hockey_federation python manage.py migrate



      # docker exec adaptive_hockey_federation python manage.py collectstatic --noinput
      # docker exec adaptive_hockey_federation python manage.py makemigrations
      # docker exec adaptive_hockey_federation python manage.py migrate

      # - name: Wait for container to start
      #   run: |
      #     max_attempts=60
      #     attempt=1
      #     CONTAINER_STATUS=$(docker ps | grep adaptive_hockey_federation)
      #     until [! -z "$CONTAINER_STATUS" ]; do
      #       echo "Waiting for container to start... Attempt $attempt/$max_attempts"
      #       sleep 1
      #       attempt=$((attempt+1))
      #       if [ $attempt -gt $max_attempts ]; then
      #         echo "Container 'adaptive_hockey_federation' did not start within expected time frame."
      #         exit 1
      #       fi
      #       CONTAINER_STATUS=$(docker ps | grep adaptive_hockey_federation)
      #     done
      #     docker exec adaptive_hockey_federation python manage.py collectstatic --noinput
      #     docker exec adaptive_hockey_federation python manage.py makemigrations
      #     docker exec adaptive_hockey_federation python manage.py migrate
